@page "/categories"

@attribute [Authorize(Policy = "AdminOnly")]

@inject IViewCategoriesUseCase ViewCategoriesUseCase
@inject NavigationManager NavigationManager
@inject IDeleteCategoryUseCase DeleteCategoryUseCase

<h3>Manaage Categories</h3>

@if (_categories != null && _categories.Any())
{
   
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var category in _categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <button type="button" class="btn btn-light" 
                        @onclick="@(() => EditCategory(category.CategoryId))">Edit</button>
                        <button type="button" class="btn btn-light"
                        @onclick="@(() => DeleteCategory(category.CategoryId))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    
}
<br />

<button type="button" class="btn btn-primary" @onclick="OnClickAddCategory">Add Category</button>

@code {
    private List<Category> _categories = new List<Category>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCategories();
    }
    private void OnClickAddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }
    private void EditCategory(int categoryId)
    {
        NavigationManager.NavigateTo($"/editcategory/{categoryId}");
    }
    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryUseCase.Execute(categoryId);
        LoadCategories();
    }
    private void LoadCategories()
    {
        _categories = ViewCategoriesUseCase.Execute().ToList();
    }
}
