@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <a class="nav-link  py-2 d-none d-md-inline-block" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name</a>
        <a class="nav-link py-2 d-none d-md-inline-block" href="Identity/Account/Logout">Log out</a>

    </Authorized>
    <NotAuthorized>
        <a class="nav-link py-2 d-none d-md-inline-block" href="Identity/Account/Register">Register</a>
        <a class="nav-link py-2 d-none d-md-inline-block" href="Identity/Account/Login">Log In</a>
    </NotAuthorized>
</AuthorizeView>