@page "/products"
@inject IViewProductsUseCase ViewProductsUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase
@inject NavigationManager NavigationManager

<h3>Products</h3>
<table class="table">
    <thead>
        <tr>           
            <th>Category</th>
            <th>Name</th>            
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@GetCategoryByIdUseCase.Execute(product.CategoryId.Value).Name</td>
                <td>@product.Name</td>
                <td>@product.Price.Value.ToString("C")</td>
                <td>@product.Quantity</td>
               
            </tr>
        }
    </tbody>
</table>

<br />
<button type="button" class="btn btn-primary" @onclick="OnClickAddProduct">Add Product</button>
@code {
    private IEnumerable<Product> _products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _products = ViewProductsUseCase.Execute();
    }
    private void OnClickAddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }
}
