@page "/categories"

@inject IViewCategoriesUseCase ViewCategoriesUseCase

<h3>Manaage Categories</h3>

@if (_categories != null && _categories.Any())
{
   
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var category in _categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                </tr>
            }
            </tbody>
        </table>
    
}

@code {
    private List<Category> _categories = new List<Category>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _categories = ViewCategoriesUseCase.Execute().ToList();
    }
}
