@page "/"

<PageTitle>Supermarket Management System</PageTitle>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Supermarket Management System</h1>
        <p class="lead fw-normal">
            Follow me to create a project with ASP.NET Core Blazor, Entity Framework Core, SQL Server,
            Use case driven development and clean architecture,
            We will secure the web app with ASP.NET Core Authentication and Authorization as well.

        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

